$borderTable: rgba(224, 224, 224, 1);
$mainColorText: rgba(110,120,132, 1);

.admin-page {
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
	min-height: 100vh;
}
// BODY

.admin-body {
	// border: 1px solid blue;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
	flex: 1;
}
