.admin-page {
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
	min-height: 100vh;
}
// BODY

.admin-body {
	border: 1px solid blue;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-body-menu-bar {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-body-menu-bar-component {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-body-menu-bar-collapse {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-body-content-bar {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-body-content-bar-container {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-content-component {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-tables {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-table-component {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-table-title {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-table-actions {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-table {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// gap: 1rem;
}
.admin-table-pagination {
	// border: 1px solid red;
	display: flex;
	// justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}